<script type="text/javascript">
    window.doorbellOptions = {
        id: '{{ site.doorbell.id }}',
        appKey: '{{ site.doorbell.appKey }}',
        container: document.getElementById('form__container'),
        onHidden: function() {
            var message = document.getElementById('form__container-message');
            message.style.display= "block";
        },
    };
    (function(w, d, t) {
        var hasLoaded = false;
        function l() { if (hasLoaded) { return; } hasLoaded = true; window.doorbellOptions.windowLoaded = true; var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/'+window.doorbellOptions['id']+'?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g); }
        if (w.attachEvent) { w.attachEvent('onload', l); } else if (w.addEventListener) { w.addEventListener('load', l, false); } else { l(); }
        if (d.readyState == 'complete') { l(); }
    }(window, document, 'script'));
</script>


<!--
<script type="text/javascript">
    window.doorbellOptions = {
        hideEmail: true, // Optional, hides the email address field
        email: "customer@example.com", // Optional, prepopulate the email address field
        name: 'Philip Manavopoulos', // Optional, the name of the user
        tags: 'tag1,tag2', // Optional, tags to add to this thread. Can be an array as well: ['tag1', 'tag2']
        hideButton: true, // Optional, hides the button that doorbell adds to the bottom right of the page
        container: document.getElementById('feedback-container'), // Optional, make the form render inline instead of as a modal
        language: 'en', // Optional, if you know the language of the page or the user. You can then translate the form, the response messages, and the autoreply
        properties: { // Optional, a Javascript object of custom properties you want to set
            loggedIn: true,
            username: 'manavo',
            loginCount: 11,
            roles: ["admin", "editor"], // Arrays are fine
            contactDetails: { // Nested objects are allowed too
                phone: "1234567890",
                address: "Address line 1, Country"
            }
        },
        id: 'YOUR-ID-GOES-HERE',
        appKey: 'YOUR-API-KEY-GOES-HERE'
    };
</script> -->
